* {
  @include box-sizing(border-box);
}

html, body {
  height:100%;
}

html {
  overflow-y:scroll;
}

body {
  font-size:20px;
  line-height:1.3;
  font-family:'PT Sans', sans-serif;
  font-weight:400;
}

h1, h2, h3, h4 {
  font-family:'PT Sans Narrow', sans-serif;
  font-weight:700;
}

h1 {
  font-size:60px;
  color:white;
}

h3 {
  font-size:1.2em;
  margin-bottom:8px;
}

a {
  color:black;
}

.page-wrapper {
  width:100%;
  min-height:100%;
}

.column {
  float:left;
}

.three-column {
  @include clearfix;
  width:100%;
  max-width:1220px;
  padding:0 10px 12px 10px;
  margin:20px auto 0 auto;

  > .column {
    width:33.3333%;
    padding:0 10px;

    &:first-child {
      padding-left:0;
    }

    &:last-child {
      padding-right:0;
    }
  }
}
