header {
  background:tint($sky, 30%);
  color:shade($sky, 30%);
  position:relative;
  padding:10px 10px 0 10px;
  border-bottom:10px solid tint($sky, 70%);
  @include breakpoint(narrow) {
    padding-left:0;
    padding-right:0;
  }

  h1 {
    text-shadow:1px 1px 1px rgba(255,255,255,.4);
    @include breakpoint(narrow) { text-align:center; }
  }

  a {
    color:shade($sky, 50%);
    text-decoration:none;
  }

  p {
    font-size:.8em;
  }
}

.fat-inner {
  width:100%;
  max-width:460px;
  padding:20px 0;
  margin:0 auto;
  text-align:center;
}
