.pub-info {
  width:100%;
  overflow:hidden;
  margin-bottom:16px;
}

.pubtitle {
  font-size:1.4em;
  line-height:1;
  color:#111;
}

.format {
  font-size:1.1em;
  color:#555;
  margin-bottom:12px;

  &.published-article:before {
    content:url(asset-path('stackview/icon-published-article.png'));
    margin-right:5px;
  }

  &.working-paper:before {
    content:url(asset-path('stackview/icon-working-paper.png'));
    margin-right:5px;
  }

  &.presentation:before {
    content:url(asset-path('stackview/icon-presentation.png'));
    margin-right:5px;
  }

  &.hbs-case-material, &.non-hbs-case-material {
    &:before {
      content:url(asset-path('stackview/icon-case-material.png'));
      margin-right:5px;
    }
  }

  &.hbs-teaching-and-training-material,
  &.non-hbs-teaching-and-training-material {
    &:before {
      content:url(asset-path('stackview/icon-teaching.png'));
      margin-right:5px;
    }
  }

  &.unpublished-work:before {
    content:url(asset-path('stackview/icon-unpublished.png'));
    margin-right:5px;
  }
}

.creators {
  font-size:.7em;
  color:#999;
  margin-bottom:16px;
}

.containing-book {
  color:#777;
  font-size:.75em;
  margin-bottom:16px;
}

.description {
  font-size:.8em;
  color:#333;
}

.view-item {
  display:block;
  text-align:center;
  padding:6px;
  color:#fff;
  text-decoration:none;
  background:shade($sky, 50%);
  border-radius:10px;
  margin-bottom:8px;

  &:hover, &:focus {
    background:shade($skyPink, 30%);
  }
}

.topics {
  float:right;
  width:50%;
  padding:8px 12px;
  background:tint($sky, 50%);
  border-radius:10px;
  font-size:.7em;
  margin:-10px 0 5px 5px;

  h3 {
    margin-bottom:4px;
  }

  ul {
    line-height:1;
  }

  li {
    padding:3px 0;
  }

  a {
    color:shade($sky, 50%);

    &:hover, &:focus {
      color:shade($sky, 80%);
    }
  }
}

.unit-authors h2, .author-heading {
  font-size:1.4em;
  line-height:1;
  margin-bottom:12px;
}

.author-bio {
  font-size:.7em;
  color:#666;
  margin-bottom:12px;
}

.author-topics {
  font-size:.8em;
  background:tint($sky, 70%);
  border-radius:5px;
  padding:8px 10px;

  ul {
    line-height:1.5;
    font-size:.8em;
  }

  li {
    display:inline;

    &:before {
      content:', ';
    }

    &:first-child:before {
      content:'';
    }
  }

  p {
    font-size:.8em;
    color:#888;
  }

  a {
    color:shade($sky, 50%);
  }
}

.unit-authors {
  li a {
    padding:5px 10px;
    display:block;
    text-decoration:none;
    color:shade($sky, 70%);
  }

  li:nth-child(odd) a {
    background:tint($sky, 70%);
  }

  ul li a {
    &:hover, &:focus {
      background:tint($skyPink, 50%);
    }
  }

  li span {
    display:block;
  }

  .author-name {
    font-size:.8em;
  }

  .author-title {
    font-size:0.6em;
    color:shade($sky, 40%);
  }
}
